In [52]:
import pandas as pd
import os
import json

In [53]:
def fetch_results(dataset_name, model_name, dataset_split):
    results = []
    directory = f"generated_quiz_answers/{dataset_name}/{model_name}/{dataset_split}"
    model_name = model_name.split("_")[0] if "rerun" in model_name else model_name

    for language in os.listdir(directory):
        language_directory = os.path.join(directory, language)
        json_file = os.path.join(language_directory, "contamination.json")
        df_file = os.path.join(language_directory, "quiz_answers.csv")
        df_ans = pd.read_csv(df_file)

        with open(json_file) as f:
            data = json.load(f)
            score = data["score"]
            contamination = data["contamination"]
            results.append(
                {
                    "Language": language,
                    f"Score": score,
                    f"Contamination": contamination,
                    f"Total_points": len(df_ans),
                    f"Model": model_name,
                    f'Split': dataset_split,
                    f"Dataset": dataset_name,
                }
            )

    df = pd.DataFrame(results)
    return df

In [54]:
# list all directories in generated_quiz_answers
dataset_names = os.listdir("generated_quiz_answers")
models = ["dev-moonshot","palm-32k"]
# results = {}
df = pd.DataFrame()
for dataset_name in dataset_names:
    for model_name in models:
        # fetch results for each dataset from generated_quiz_answers -> dataset_name -> model_name
        # if model_name in generated_quiz_answers/dataset_name
        if os.path.exists(f"generated_quiz_answers/{dataset_name}/{model_name}_rerun"):
            model_name = f"{model_name}_rerun"
        if os.path.exists(f"generated_quiz_answers/{dataset_name}/{model_name}/test"):
            split = "test"
        else:
            split = "validation"
        try:   
            df = pd.concat([df, fetch_results(dataset_name, model_name, split)])
        except:
            print(f"Error in {dataset_name} {model_name}")
            continue

In [55]:
df.to_excel("contamination_results_compiled.xlsx")

In [56]:
df.head()

  Language     Score  Contamination  Total_points         Model Split Dataset
0       es  0.743902       0.658537            82  dev-moonshot  test  paws-x
1       fr  0.781250       0.708333            96  dev-moonshot  test  paws-x
2       zh  0.735849       0.647799            53  dev-moonshot  test  paws-x
3       de  0.829787       0.773050            94  dev-moonshot  test  paws-x
4       ko  0.583333       0.444444            60  dev-moonshot  test  paws-x

In [57]:
df["Model"].replace({"dev-moonshot": "GPT-4"}, inplace=True)
df.drop(columns=["Score","Total_points","Split"], inplace=True)
df["Contamination"] = df["Contamination"].apply(lambda x: round(x, 2))

In [59]:
#replace model names dev-moonshot with GPT-4
datasets = df["Dataset"].unique()
df_dict = {}
for i in datasets:
    temp_df = df[df["Dataset"]==i].drop(columns=["Dataset"]).reset_index().drop(columns=["index"])
    df_dict[i] = temp_df.pivot(index='Model', columns='Language', values='Contamination').reset_index()
    df_dict[i].to_excel(f"results/contamination_results_{i}.xlsx")

Bad pipe message: %s [b't\x02ln#k\xd3]\r\x9a\xdd\x08\xb3m_\x87\x03\xcd N\xe8\x06v\xbd}\xe1\xf5']
Bad pipe message: %s [b'\xbc\xa2\xd5\x92)\xaa\xd2\x9fO\xbd\xf0"\xe7K\x86\xe5 R\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0', b"\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0\x11\x00\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05"]
Bad pipe message: %s [b'\x03\x08']
Bad pipe message: %s [b'\x08\x08\t\x08\n\x08']
Bad pipe message: %s [b'\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06']
Bad pipe message: %s [b'', b'\x03\x03']
Bad pipe message: %s [b'']
Bad pipe message: %s [b"\xd0x\xf0\xabXrV[@1\xc1\x86\xd9p\x17e\xe1;\x00\x00\xa6\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0s\xc0w\x00\xc4\x00\xc3\xc0#\xc0'\x00g\x00@\xc0r\xc0v\x00\xbe\x00\xbd\xc0\n\xc0\x14\x009\x008\x00\x88\x00\x87\xc0\t\xc0\x13\x003\x002\x00\x9a\x00\x99\x00E\x00D\xc0\x07\xc0\x11\xc0\x08\xc0\x12\x00\x16\x00\x13\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00\xc0\x00<\x00\xba\x005\x00\x84\x00/\x00\x96\x00A\x00\x05\x00\n\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t12", b'0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\x08\x08\t\x08\n\x08']
Bad pipe message: %s [b'\x05\x02\x06']
Bad pipe message: %s [b'\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06']
Bad pipe message: %s [b'u\xb1\xd7\xd3\xd3\xdacO\xbf\x1aEU\xda\xe8\xb3\x02T\n\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0', b'/\x00\x9a']
Bad pipe message: %s [b'', b'\x03\x03']
Bad pipe message: %s [b'']
Bad pipe message: %s [b'\x1d\xf9X\xe7\xbfws\x1e\x18$VT\xb3\xd4A\xc3\x92\x0b\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12']
Bad pipe message: %s [b'\x05\x02\x06']
Bad pipe message: %s [b'\xa3\x8b2\xd1\xebf\x14\xac\xc8\xf3\xd4\x1a}\xf2:qN\x02\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0\x04\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00', b'\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00\x00\x00\x0f\x00\x01\x01\x15\x03\x01']
Bad pipe message: %s [b'\x7f8\xeck\xf9\x183\x1b\x90\xc7&NL\xc2\xf7TN(\x00']
Bad pipe message: %s [b"\xb7\x1e*5&\x82+\x89 \xd8B\x0b,H2T\x86\xf7\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00g\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1"]
Bad pipe message: %s [b"x\xcdK\x9f-\x91E\x06\xa4\x81m\xab\x86$\xb9RU\xcc\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00", b'\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00;\x00\x02\x00\x01\x00']

In [14]:
results_udpos_gpt = fetch_results("udpos", "dev-moonshot", "test")

In [15]:
results_udpos_palm = fetch_results("udpos", "palm-32k", "test")

In [16]:
results_udpos_palm

   Language  Score_palm-32k  Contamination_palm-32k  Total_points_palm-32k
0        fr            0.34                0.120000                    109
1        zh            0.15               -0.133333                    110
2        el            0.16               -0.120000                    108
3        bg            0.10               -0.200000                    110
4        fi            0.15               -0.133333                    110
5        pl            0.09               -0.213333                    110
6        it            0.23               -0.026667                    106
7        et            0.10               -0.200000                    109
8        ro            0.15               -0.133333                    109
9        hu            0.13               -0.160000                    106
10       hi            0.12               -0.173333                    110
11       ar            0.21               -0.053333                    110
12       ru            0.20               -0.066667                    110
13       pt            0.18               -0.093333                    105
14       vi            0.10               -0.200000                    108
15       ja            0.19               -0.080000                    108
16       lt            0.15               -0.133333                    108
17       uk            0.08               -0.226667                    103
18       en            0.28                0.040000                    105
19       tr            0.34                0.120000                    110

In [14]:
df

,Language,Score,Contamination,Total_points,Model,Split,Dataset
0,es,0.743902,0.658537,82,dev-moonshot,test,paws-x
1,fr,0.781250,0.708333,96,dev-moonshot,test,paws-x
2,zh,0.735849,0.647799,53,dev-moonshot,test,paws-x
3,de,0.829787,0.773050,94,dev-moonshot,test,paws-x
4,ko,0.583333,0.444444,60,dev-moonshot,test,paws-x
...,...,...,...,...,...,...,...
4,ja,0.790000,0.720000,141,palm-32k,validation,tydiqa
5,id,0.370000,0.160000,129,palm-32k,validation,tydiqa
6,th,0.380000,0.173333,144,palm-32k,validation,tydiqa
7,en,0.730000,0.640000,139,palm-32k,validation,tydiqa
8,sw,0.420000,0.226667,137,palm-32k,validation,tydiqa

In [17]:

# join the two dataframes on language
results_udpos_combined = results_udpos_gpt.merge(results_udpos_palm, on="Language")

In [18]:
results_udpos_combined

,Language,Score_dev-moonshot,Contamination_dev-moonshot,Total_points_dev-moonshot,Score_palm-32k,Contamination_palm-32k,Total_points_palm-32k
0,fr,0.32,0.093333,110,0.34,0.120000,109
1,zh,0.30,0.066667,110,0.15,-0.133333,110
2,el,0.38,0.173333,110,0.16,-0.120000,108
3,bg,0.29,0.053333,110,0.10,-0.200000,110
4,fi,0.28,0.040000,110,0.15,-0.133333,110
5,pl,0.24,-0.013333,110,0.09,-0.213333,110
6,it,0.27,0.026667,109,0.23,-0.026667,106
7,et,0.37,0.160000,109,0.10,-0.200000,109
8,ro,0.06,-0.253333,110,0.15,-0.133333,109
9,hu,0.40,0.200000,110,0.13,-0.160000,106
10,hi,0.49,0.320000,110,0.12,-0.173333,110
11,ar,0.56,0.413333,110,0.21,-0.053333,110
12,ru,0.36,0.146667,110,0.20,-0.066667,110
13,pt,0.27,0.026667,110,0.18,-0.093333,105
14,vi,0.24,-0.013333,110,0.10,-0.200000,108
15,ja,0.42,0.226667,110,0.19,-0.080000,108
16,lt,0.31,0.080000,110,0.15,-0.133333,108
17,uk,0.29,0.053333,110,0.08,-0.226667,103
18,en,0.41,0.213333,102,0.28,0.040000,105
19,tr,0.38,0.173333,110,0.34,0.120000,110

In [ ]:
results_