In [2]:
import pandas as pd
import os
import json

In [3]:


def fetch_results(dataset_name, model_name, dataset_split):
    results = []
    directory = f"generated_quiz_answers/{dataset_name}/{model_name}/{dataset_split}"
    
    for language in os.listdir(directory):
        language_directory = os.path.join(directory, language)
        json_file = os.path.join(language_directory, "contamination.json")
        
        with open(json_file) as f:
            data = json.load(f)
            score = data["score"]
            contamination = data["contamination"]
            
            results.append({"Language": language, "Score": score, "Contamination": contamination})
    
    df = pd.DataFrame(results)
    return df

In [4]:
results_xnli = fetch_results("xnli", "dev-moonshot_rerun", "test")

In [5]:
results_xnli_palm = fetch_results("xnli", "palm-32k_rerun", "test")

In [11]:
results_xnli_palm

   Language  Score  Contamination
0        es   0.35       0.133333
1        fr   0.45       0.266667
2        zh   0.52       0.360000
3        el   0.60       0.466667
4        bg   0.48       0.306667
5        de   0.38       0.173333
6        hi   0.50       0.333333
7        ar   0.60       0.466667
8        ru   0.44       0.253333
9        vi   0.71       0.613333
10       th   0.32       0.093333
11       en   0.53       0.373333
12       tr   0.48       0.306667
13       sw   0.36       0.146667

In [9]:
results_xnli
#calculate average contamination
# results_xnli["Contamination"].mean()

   Language  Score  Contamination
0        es   0.52       0.360000
1        fr   0.53       0.373333
2        zh   0.31       0.080000
3        el   0.63       0.506667
4        bg   0.55       0.400000
5        de   0.42       0.226667
6        hi   0.69       0.586667
7        ar   0.60       0.466667
8        ru   0.49       0.320000
9        vi   0.44       0.253333
10       th   0.40       0.200000
11       en   0.59       0.453333
12       tr   0.53       0.373333
13       sw   0.43       0.240000
14       ur   0.59       0.453333

In [6]:
# combine result_xnli and result_xnli_palm and rename Score in result_xnli_palm to Score_palm and Contamination to Contamination_palm and score in result_xnli to score_gpt4 and contamination to contamination_gpt4
results_xnli_palm = results_xnli_palm.rename(columns={"Score": "Score_palm", "Contamination": "Contamination_palm"})
results_xnli = results_xnli.rename(columns={"Score": "Score_gpt4", "Contamination": "Contamination_gpt4"})
# join the two dataframes on language
results_xnli_combined = results_xnli.merge(results_xnli_palm, on="Language")

In [8]:
results_xnli_combined

   Language  Score_gpt4  Contamination_gpt4  Score_palm  Contamination_palm
0        es        0.52            0.360000        0.35            0.133333
1        fr        0.53            0.373333        0.45            0.266667
2        zh        0.31            0.080000        0.52            0.360000
3        el        0.63            0.506667        0.60            0.466667
4        bg        0.55            0.400000        0.48            0.306667
5        de        0.42            0.226667        0.38            0.173333
6        hi        0.69            0.586667        0.50            0.333333
7        ar        0.60            0.466667        0.60            0.466667
8        ru        0.49            0.320000        0.44            0.253333
9        vi        0.44            0.253333        0.71            0.613333
10       th        0.40            0.200000        0.32            0.093333
11       en        0.59            0.453333        0.53            0.373333
12       tr        0.53            0.373333        0.48            0.306667
13       sw        0.43            0.240000        0.36            0.146667

In [ ]:
results_